/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */



img.right {float:right; }
body {color: #797066;}

h1.title {color: #797066;
    font-family: "Georgia", "Times", serif;
    font-size: 1.5em; }
    
h1.sidrubrik { color: #797066;
font-family: "Helvetica", "Arial", sans-serif;
font-size: 2em;}

.breakright {float: none;}
.floatright {float: right;}

h2 {color: #7a0026;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 1em;
    }
    
h3 {color: #161b1f;
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 0,3em;
    font-style: italic;}
    
p {color: #797066;
font-family: "Verdana", "Arial", sans-serif;
font-size: 10px;
} 

.copytext {color: #FFFFFF;}
.blogspot {color:red, Arial, sans-serif;
font-size: 9px;
font-weight: bold;}

td {color: #FFFFFF;
font-family: "Georgia", "Arial", sans-serif;
font-size: 10px;
} 
th {color: #FFFFFF;
font-family: "Georgia", "Arial", sans-serif;
font-size: 14px;
font-weight: bold;
} 

dt {color: #63625e;
font-family: "Verdana", "Arial", sans-serif;
font-size: 10px;
font-weight: bold;
} 

dd {color: #581328;
font-family: "Verdana", "Arial", sans-serif;
font-size: 10px;
}

li {color: #4e021a;
font-family: "Verdana", "Arial", sans-serif;
font-size: 10px;
font-weight: bold;
} 

.snyggtable tr, .snyggtable td {
color:FFFFFF;
font-family: Arial, sans-serif;
font-size: 8px;
background-color: #6f8bad;
border-width: 1px;
}

tbody:nth-child(2n) {
    background-color: #CECECE;
}

#header {
    background-color: #51473d;
    width: 920px;
    height: 240px;
    float:left;
    border:10px;
    margin:10px;
    padding:10px;
}

#navigation {
    background-color: #65778d;
    width: 200px;
    float:left;
    border-left:10px;
    margin:10px;
    padding:10px;
}







ul {
    border: 1px solid black;
    border-bottom: none;
    width: 200 px;
    margin: 0; padding: 0;
}
li {
    list-style-type: none;
    border-bottom: 1px solid black;
}
#navigation li a {
    display: block;
    padding: 10px;
    background-color: #6f8bad;
    color: #EFE;}

#navigation li a:hover{
    color: #FFFFFF;
    background-color: #b08c91;}
    
#navigation li a:active{
    display: block;
    color: #FFFFFF;
    background-color: #81b0eb;}

#navigation .active {
    display: block;
    color: #FFFFFF;
    background-color: #3c9fec;}


#content {
    background-color: #FFFFFF;

    width:680px;
    float:left;
    border:10px;
    margin:10px;
    padding:10px;
}
    
#container {
    background-color: #eae7d2;
    overflow:auto;
    max-width: 960px;
    margin:0 auto;
}

#footer {
    background-color: #b08c91;
    width: 920px;
    float:left;
    border:10px;
    margin:10px;
    padding:10px;
}
/* Blogpost*/
.blogpost h3{
    background-color: green;
    background-color: white;
    background-image: url('pics/kristina_logo_small.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 32px;
}
/* Typografi */