/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */





h1 {color: #797066;
    font-family: "Times new roman", serif;
    font-size: 2em; }
    
h2 {color: #797066;
    font-family: "Helvetica", "Arial", sans-serif;
 
    font-size: 1em;
    }
    
    

#topbar {
    background-color: #51473d;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    color: #FFFFFF;
    width: 600px;
    height: 218px;
    margin-right:50px;
   
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10px;
    font-weight: italic;
    text-align: right;
}

#content {
    background-color: #eae7d2;
    width:580px;
 
    border:0px;
    margin:0px;
    padding:10px;
    overflow:auto;
  
    }


#maincontent {
    background-color: #51473d;
    width: 60%;
    
    padding: 5px;
    float:left;

    background:#9c9;
   
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 14px;
    color: #797066; 
    border-right: 1px dashed #797066 ;
    
}

#maincontent img {
    float: left;
    padding-left: 5px;  
padding-right: 5px;
}

 #maincontent h1
 {font-size: 30px;
 font-family: "Times New Roman", serif;
 
 }
 
  #subcontent h1
 {font-size: 15px;
 
 }

#subcontent {
    float:left;
    width:200px;
    background:#eae7d2;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10px;
    color: #797066; 
    padding-left: 5px;
    }

#subcontent li a {
    display: block;
    padding: 0px;
    background-color: #eae7d2;
    color: #797066;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;

    
    
}
ul {
    border: none;
    border-bottom: none;
    width: 600 px;
    margin: 0; padding: 0;
}

#menu ul {
    margin-left: 5px;
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #51473d;
    float:left;
    width: 600px;
    
}

    #menu li {
        float: left;
        margin: 5px 2px 0px 2px;
    }


li {
    list-style-type: none;
    border-bottom: none;
}
#menu li a {
    display: block;
    padding: 10px;
    background-color: #797066;
    color: #eae7d2;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;}

#menu li a:hover{
    color: #797066;
    background-color: #eae7d2;}
    
#menu li.active a{
    display: block;
    color: #797066;
    background-color: #eae7d2;}

#menu .active {
    display: block;
    color: #FFFFFF;
    background-color: #3c9fec;}
    
#menu a {display:none;
text-transform: capitalize}


#maincontent a {display:none;}

#maincontent {
float:left;

background:#eae7d2;
color: #797066;


}






    
#container {
    background-color: #eae7d2;
    overflow: auto;
    max-width: 600px;
    margin: auto;
}




#bottomcontent {
    color: #797066;
    background-color: #eae7d2;
    width: 580px;
    float:left;
    border:0px;
    margin:0px;
    padding:0px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 9px;
    font-style: italic;
}

#menu a{text-decoration:none;
}

/* Typografi */